html, body {
  overflow-x: hidden;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: Seanas;
}

@font-face {
  font-family: 'Seanas';
  src: url('./NeoBulletin\ Trash.woff');
  font-style: normal;
  font-weight: 100;
}

.hide {
  display: none !important;
}

.shadow {
  border:2px solid rgba(0,6,12,.5);
  box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -moz-box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -webkit-box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -khtml-box-shadow: 0 2px 12px rgba(0,6,12,.5);
}

.zoom {
  transition: transform .5s; /* Animation */
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
}

.text-white {
  color: white !important;
}

.text-green {
  color: rgb(1, 86, 79) !important;
}

.menu-title {
  color: rgb(1, 86, 79);
  font-weight: 800;
}


.modal-open[style] {
  padding-right: 0px !important;
}



.btn {
  background-color: rgb(1, 86, 79) !important;
  font-weight: 200;
  color: white;
}

.session {
  color: black !important;
}

.btn:hover, .modal-title {
  background-color: rgb(289, 187, 24) !important;
  color: black;
  font-weight: 200;
  cursor: pointer;
}

.active-tab {
  border-bottom: 3px solid rgb(1, 86, 79);
}

#active-tab {
  position: relative;
  width: 18%;
  margin: 0 auto;
}

#home:hover, #about:hover, #menu:hover, #media:hover, #catering:hover, #contact:hover {
  border-bottom: 3px solid rgb(289, 187, 24);
}

a:hover {
  text-decoration: none;
}

#banner {
  display: none;
}

.carousel-item {
  width: 100%;
  height: auto;
  max-height: 355px;
  min-height: 230px;
}

.carousel-inner {
  max-height: 300px;
  height: auto;
  width: 100%;
  max-width: 100%;
}


#map, #hours {
  width: 100%;
  height: auto;
  height: 300px;
  max-width: 100%;
}

h5 {
  line-height: 1.8;
  font-weight: 800;
}


footer {
  font-size: 11px;
  background-color: rgb(1, 86, 79);
  color: rgb(289, 187, 24);
}

#logo {
  max-width: 90px;
}

.navbar {
  display: none;
}

.menu-tabs-mobile {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.contacts {
  padding: -80%;
}

.mobile {
  display: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 466.98px) { 
 
  .nav, .web {
    display: none;
  }
  
  .mobile {
    display: block;
  }

  .modal-dialog {
    margin-top: 50px;
  }

  .modal-contact-container {
    margin-left: -40px;
  }

  .navbar {
    display: flex;
  }

  #banner {
    display: none;
  }

  .carousel-item img{
    margin-top: 10%;
    width: 100%;
    height: auto;
    min-height: 280px;
    max-height: 350px;
  }

  .menu-tabs-mobile {
    width: 100%;
    height: auto;
    max-width: 170px;
  }

  

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 447px) and (max-width: 767.98px) { 
  .nav, .mobile {
    display: none;
  }
  
  .web {
    display: block;
  }

  .modal-contact-container {
    margin-left: -40px;
  }

  .navbar {
    display: flex;
  }

  #banner {
    display: none;
  }

  .carousel-item {
    margin-top: 10%;
    width: 100%;
    height: auto;
    min-height: 280px;
  }

  .menu-tabs-mobile {
    width: 100%;
    height: auto;
    max-width: 170px;
  }

  .carousel-item {
    max-height: 300px;
    height: auto;
    width: 100%;
    max-width: 100%;
    min-height: 250px;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .nav, .mobile {
    display: none;
  }
  
  .web {
    display: block;
  }

  .modal-dialog {
    margin-top: 50px;
  }

  .navbar {
    display: flex;
  }

  #banner {
    display: none;
  }

  .carousel {
    margin-top: 5%;
    width: 100%;
  }

  .carousel-item {
    margin-top: -3%;
    width: 100%;
    height: auto;
    min-height: 370px;
  }

  .menu-tabs-mobile {
    width: 100%;
    height: auto;
    max-width: 170px;
  }

  .carousel-item {
    max-height: 300px;
    height: auto;
    width: 100%;
    max-width: 100%;
    min-height: 250px;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .menu-tabs {
    max-width: 169px;
    margin: 16px auto 0 auto;
    font-size: 20px;
    color: black;
  } 

  .modal-dialog {
    margin-top: 100px;
  }

  #banner {
    display: none;
  }

  .banner {
    height: auto;
    width: 100%;
    min-height: 350px;
  }

  .carousel-item {
    margin-top: -8%;
    width: 100%;
    height: auto;
    min-height: 350px;
  }

  footer {
    font-size: 16px;
  }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .carousel-item {
    margin-top: -9%;
    width: 100%;
    height: auto;
    min-height: 350px;
  }

  .modal-dialog {
    margin-top: 100px;
  }

  .container {
    margin: auto;
  }

  .banner {
    height: auto;
    width: 100%;
    min-height: 400px;
  }

  .menu-tabs {
    max-width: 180px;
    margin: 10px auto 0 auto;
    font-size: 22px;
    color: #000;
  }
 }